# LogDefender dependencies
# Install with: pip install -r requirements.txt

# Core detection
psutil==6.1.1
pynput==1.7.7
requests==2.32.3
pyyaml==6.0.2
python-dotenv==1.0.1
etw
yara-python
maturin

# GUI
# Removed streamlit in favor of custom Flask dashboard
flask==3.0.3
pandas==2.2.3



# Optional — Docker container IP scanning
# docker==7.1.0
